#vid-list-cont {}

#vid-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.vidBtn {
    text-decoration: none;
    display: block;
    color: black;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.836);
    padding: 18px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
    border-radius: 50px;
    transition: all .3s ease-out;
    box-shadow: 0px 5px 20px 2px #00000017;
}

.vidBtn:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.541);
    transform: scale(1.05);
}

.main-cont {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 62px);
}

.row-cont {
    margin-left: 10px;
}

.not-available {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 45%;
    bottom: 50%;
    white-space: nowrap;
}

/* Desktop CSS */

@media (min-width: 768px) {
    .main-cont {
        min-height: auto;
    }
}

/* Mobile CSS */

@media (max-width: 768px) {
    #vid-title {
        text-align: center;
    }
    .header-title {
        text-align: center;
    }
    .row-cont {
        margin-left: -10px;
    }
    .vidBtn {
        margin: 15px auto;
    }
}