{% extends "base.html" %}
{% block title %} Attendance{% endblock %}
{% block body %}

<head>
    <style>
        .txt{
            color: white;
        }

        .cb{
            align-items: center;
            height: 20px;
            width: 90px;
            margin-right : -15px;
            margin-left: -15px;

        }
    </style>
</head>

<section class="main_section">
    <div class="container-fluid main">
        <div class="row" style="margin: 0">
            <div class="col-md-6 order-md-2 come-in2"></div>


            <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">


                <div id="txt" class="mb-3 mt-1">Attendance</div>
                <div  class="col d-flex align-items-center flex-column">
                <form method="post">
                    <table
                        class="table txt table-striped table-bordered btn-table">
                        <thead>
                            <tr>
                                <th>Roll NO.</th>
                                <th>Student Name</th>
                                <th>Present</th>
                            </tr>
                        </thead>
                        {% for i in student_ls %}
                        <tr>
                            <td style="text-align:center;"> {{loop.index}} </td>
                            <td><label class="form-check-label mr-2 label-table " for="{{i}}"> {{i}} </label></td>
                            <td> 
                                <input type="checkbox" class="form-check-label cb" id="{{i}}" name="ch" value="{{i}}">
                                 <br>           
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" style="text-align:center"><input class="btn" style="padding: 2.5%;" type="submit" value="Submit"></td>
                        </tr>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>

    {%endblock%}