{% extends "base.html" %}
{% block body %}

    <section class="main_section">
      <div class="container-fluid main">
        <div class="row" style="margin: 0">
          <div class="col-md-6 bg-col order-md-2 come-in2"></div>
        
          
          <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">

            <br><br><br>
            <div id="attd">Login</div>
            <br><br>
            <!-- <div class="container-fluid"> -->
              <form method="post">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label style="font-size:23px" for="inputPassword6" class="col-form-label"> Enter Pin</label>
                </div>
                <div class="col-auto">
                  <input type="password" id="inputPassword6" name="pin" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <button type="submit" class="button col" style="vertical-align:middle"><span> Submit </span></button>
              
                </div>
              </div>
              </form>
            <!-- </div> -->
  
          </div>
        </div>
      </div>

{% endblock %}