{% extends "base.html" %}
{% block body %}


<section class="main_section">
    <div class="container-fluid main">
      <div class="row" style="margin: 0">
        <div class="col-md-6 bg-col order-md-2 come-in2">
        </div>

        <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">
            <br>
            <div id="txt1" class="">Export Data in Excel</div>
            <br>
          <form method="post" class="col d-flex align-items-center flex-column">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <span> Start Date </span><input type="date" name="start">
                </div>
                <div class="col-auto">
                    <span>End Date </span><input type="date" name="end">
                </div>
                <div class="col-auto">
                    <button type="submit" class="button col" style="vertical-align: middle; text-align: center;"><span> Submit </span></button>
                </div>
            
            </div>
          </form>

        </div>
      </div>
    </div>

{%endblock%}