{% extends "base.html" %}
{% block body %}

  <section class="main_section">
    <div class="container-fluid main">
      <div class="row" style="margin: 0">
        <div class="col-md-6 bg-col order-md-2 come-in2"></div>

        <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">
  

          <form method="post">
          <button class="btn mt-4" name="ch" value ="teacher" onclick="this.value.submit()"; >
            <i class="fa fa-book pr-2" aria-hidden="true"></i> Teacher
          </button>
    
          <button class="btn mt-4" name="ch" value ="student" onclick="this.value.submit()"; >
            <i class="fa fa-graduation-cap pr-2" aria-hidden="true"></i> Student 
          </button>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
