body 
{

background-color : rgb(255, 238, 220);
font-family: sansation;

}

h1 {
  color: navy;
  margin-left: 20px;
font: 30px ,sans-serif; 
text-align:center;
}

table
{
border: none;
border-collapse:collapse;
}
 table{

  width: 50%;
}

th {
  height: 70px;
}
th, td {
  padding: 15px;
  text-align: left;
}


tr:hover {background-color: rgb(221,255,255);}
th {
  background-color: #04AA6D;
  color: white;
}
td.submit{
align:center;
}

.grid-container {
  display: grid;
}
