{% extends "base.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></head>
</head>
<body>
<img src="https://www.nfsu.ac.in/uploads/setting/1602849810_13b18cdf92ea104f5a89.png" width="150" height="50"><br><br><h1>NFSU ATTENDANCE B.TECH</h1>

	<br><br><br><br>
        <table align="center" bgcolor="#FFCFFC">
    <tr><td style = "text-align:center">Your attendance for <b><u>{{sub}}</u></b> is <b><u>{{x}}%</u></b></td></tr>
</body>
</html>

{% endblock %}