{% extends "base.html" %}
{% block body %}

<section class="main_section">
  <div class="container-fluid main">
    <div class="row" style="margin: 0">
      <div class="col-md-6 bg-col order-md-2 come-in2"></div>

      <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">
        <br>
        <div id="nomtes" style="margin-top:-29px; margin-bottom: -15px; font-size: 45px;">Select Subject</div>
        <br>

        <form method="POST" class="d-flex align-items-center flex-column">
          <select class="form-select form-select-lg opt" name=ch method="GET" aria-label=".form-select-lg example">
            {% for i in ls %}
            <option value="{{i}}">{{i}}</option>"
            {% endfor %}
          </select>
          <input class="button_st " type="submit" value="Submit">
        </form>


      </div>
    </div>
  </div>
 
  {% endblock %}