<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr><td>Name</td><td><input type="text" name="name" ></td></tr>
            <tr><td>Subject</td><td>
                <select name= ch method="GET">
                {% for i in ls %}
                <option value= "{{i}}">{{i}}</option>"
                {% endfor %}
                </select>
            </td></tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</body>
</html>