{% extends "base.html" %}
{% block body %}

    

    <section class="main_section">
        <div class="container-fluid main">
          <div class="row" style="margin: 0">
            <div class="col-md-6 bg-col order-md-2 come-in2"></div>
    
            <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">
    
              <form method="post" class="col d-flex align-items-center flex-column">
                <table>
                    <tr><td><b>Name</b></td><td style = "text-align:center">
                        <select name= name method="GET">
                        {% for j in student_ls %}
                        <option value= "{{j}}">{{j}}</option>"
                        {% endfor %}
                        </select>
                    </td></tr>
                    <tr><td  style= "margin-top: 1500px;"><b>Subject</b></td><td style = "text-align:center; ">
                        <select class="mt-2" name= ch method="GET">
                        {% for i in subject_ls %}
                        <option value= "{{i}}">{{i}}</option>"
                        {% endfor %}
                        </select>
                    </td></tr>
            <tr><td colspan="2" style = "text-align:center"><input type="submit" value="Submit" class="mt-2 btn-lg btn-outline-dark"></td></tr>
                </table>
                
              </form>
    
            </div>
          </div>
        </div>
    
{% endblock %}