{% extends "base.html" %}
{% block body %}


   

    <section class="main_section">
        <div class="container-fluid main">
          <div class="row" style="margin: 0">
            <div class="col-md-6 order-md-2 come-in2"></div>
    
            <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">
    
                <table class="mt-4">
                    <tr><td>
                            {% for i in ls %}</td></Tr>
                            <tr><td>{{i}}</td></tr>
                            <tr><td>{% endfor %}</td></tr>
                        </table>
    
            </div>
          </div>
        </div>


{% endblock %}