{% extends "base.html" %}
{% block body %}


   

    <section class="main_section">
        <div class="container-fluid main">
          <div class="row" style="margin: 0">
    
            <div class="col-md-12 come-in2 d-flex align-items-center flex-column my-auto">
    
                <table class="mt-4 table table-sm txt table-striped table-bordered btn-table" style="color: white; width: fit-content;";>
                    
                            {% for i in ls %}
                            <tr><td>{{i}}</td></tr>
                            {% endfor %}
                        </table>
    
            </div>
          </div>
        </div>


{% endblock %}