<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
<img src="https://www.nfsu.ac.in/uploads/setting/1602849810_13b18cdf92ea104f5a89.png" width="150" height="50"><br><br><h1>NFSU ATTENDANCE B.TECH</h1>

	<br><br><br><br>
    <table>
<tr><td>
        {% for i in ls %}</td></Tr>
        <tr><td>{{i}}</td></tr>
        <tr><td>{% endfor %}</td></tr>
    </table>
</body>
</html>