<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>
    <form method = "POST">  
<img src="https://www.nfsu.ac.in/uploads/setting/1602849810_13b18cdf92ea104f5a89.png" width="150" height="50"><br><br><h1>NFSU ATTENDANCE B.TECH</h1>

	<br><br><br><br>
        <table align="center" bgcolor="#FFCFFC">
            <tr><td><b>Attendance for today</b></td><td style = "text-align:center"><input type="radio" name="ch" value ="opt1"></td></tr>
            <tr><td><b>Attendance Percentage</b> </td><td style = "text-align:center"><input type="radio" name="ch" value ="opt2"></td></tr>
            <tr><td colspan = "2"  style = "text-align:center"><input type="submit" value="Submit"></td></tr>
        </table>
    </form> 

</body>
</html>