{% extends "base.html" %}
{% block body %}


    

    <section class="main_section">
        <div class="container-fluid main">
          <div class="row" style="margin: 0">
            <div class="col-md-6 bg-col order-md-2 come-in2"></div>
    
            <div class="col-md-6 come-in2 d-flex align-items-center flex-column my-auto">
    
              <form method="post" class="col d-flex align-items-center flex-column">
              <button class="btn1 mt-4" name="ch" value ="opt1" onclick="this.value.submit()"; >
                <i class="fa fa-bar-chart pr-3" aria-hidden="true"></i>Attendance for Today
              </button>
        
              <button class="btn1 mt-4" name="ch" value ="opt2" onclick="this.value.submit()"; >
                <i class="fa fa-percent pr-3" aria-hidden="true"></i>Attendance Percentage
              </button>
              </form>
    
            </div>
          </div>
        </div>


{% endblock %}