<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "POST">  
        <table>
            <tr><td>Attendance for today</td><td><input type="radio" name="ch" value ="teacher"></td></tr>
            <tr><td>Attendance Percentage </td><td><input type="radio" name="ch" value ="student"></td></tr>
            <tr><td><input type="submit" value="Submit"></td></tr>
        </table>
    </form> 

</body>
</html>